# trunk-ignore-all(checkov/CKV2_GHA_1)
#
# pipeline to raise a pull request
#
name: Raise Pull request for specified Branch

on:
  workflow_dispatch:

jobs:
  raise_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Check if a valid branch name is selected. Not main and not any tag"
        run: |
          if [ "${{ github.ref_name }}" == "main" || "${{ github.ref_type}}" == "tag" ]; then
              echo "Cant create a pull on main or a tag. choose valid branch."
              exit 1
          fi
      - name: Generate short label
        id: label
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          SHORT_NAME="${BRANCH_NAME:0:40}"
          echo "short_label=pr-${SHORT_NAME}" >> $GITHUB_OUTPUT

      - name: Raise Pull Request
        uses: devops-infra/action-pull-request@v1.0.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: "Creating PR for branch ${{ github.ref_name }} "
          label: "${{ steps.label.outputs.short_label }}"
          source_branch: "${{ github.ref_name }}"
          target_branch: "main"
          get_diff: true
