# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: UNS Sparkplug B Decoder MQTT Client

on:
  push:
    branches:
      - "**"
    paths:
      - "02_mqtt-cluster/**/*.py*"
      - "02_mqtt-cluster/pyproject.toml"
      - "02_mqtt-cluster/uv.lock"
      - "05_sparkplugb/**/*.py"
      - "05_sparkplugb/pyproject.toml"
      - "05_sparkplugb/uv.lock"
      - "05_sparkplugb/Dockerfile"
      - ".github/workflows/uns_sparkplugb-app.yml"
      - ".github/include/**"

  pull_request:
    branches:
      - "**"
    paths:
      - "02_mqtt-cluster/**/*.py*"
      - "02_mqtt-cluster/pyproject.toml"
      - "02_mqtt-cluster/uv.lock"
      - "05_sparkplugb/**/*.py"
      - "05_sparkplugb/pyproject.toml"
      - "05_sparkplugb/uv.lock"
      - "05_sparkplugb/Dockerfile"
      - ".github/workflows/uns_sparkplugb-app.yml"
      - ".github/include/**"

  workflow_dispatch:
    inputs:
      pytest_add_opts: # trunk-ignore(checkov/CKV_GHA_7) # trunk-ignore(checkov/CKV_GHA_7)
        description: "additional pytest options"
        type: string

permissions:
  contents: read

jobs:
  build_code:
    runs-on: ubuntu-latest
    environment: dev
    env:
      UNS_mqtt.host: "localhost"
      UNS_mqtt.port: 1883

    services:
      uns_mqtt:
        image: "emqx/emqx:latest"
        ports:
          # MQTT Ports
          # MQTT Ports
          - "1883:1883" # MQTT, unencrypted, unauthenticated
          - "1884:1884" # MQTT, unencrypted, authenticated
          # WebSocket Ports
          - "8080:8080" # MQTT over WebSockets, unencrypted, unauthenticated
          - "8090:8090" # MQTT over WebSockets, unencrypted, authenticated

    steps:
      - uses: actions/checkout@v6

      - name: Setup with python environment
        uses: ./.github/include/setup_python/
        with:
          module: 05_sparkplugb

      - name: Run all type of tests
        uses: ./.github/include/execute_tests/
        with:
          module: 05_sparkplugb
          integration_tests: true
          SAFETY_API_KEY: ${{ secrets.SAFETY_API_KEY }}
          pytest_flags: ${{ inputs.pytest_add_opts }}

  build_docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Compile and Test Dockerfile
        uses: ./.github/include/test_docker_builds/
        with:
          module: 05_sparkplugb
          image_name: uns/spb_mapper
